<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" name="regform" method="post" ng-submit="login.login()">
			<fieldset>
				<h2>Please Sign In</h2>
				
				<h5 class="alert alert-warning" ng-show="login.invalid">invalid credentials</h5>
				<h5 ng-show="login.notVerified" class="alert alert-warning">Email is not verified. Please verify your email from the from your email.</h5>
				
			     
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="email" name="email" ng-model="login.user.email" id="email" class="form-control input-lg" placeholder="Email Address">
				</div>
				<div class="form-group">
                    <input type="password" name="password" ng-model="login.user.password" id="password" class="form-control input-lg" placeholder="Password">
				</div>
				<span class="button-checkbox">
					
					<a href="" class="btn btn-link pull-right">Forgot Password?</a>
				</span>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="#/signup" class="btn btn-lg btn-primary btn-block">Register</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>