<div ng-controller="FourmController as fourmCtrl">

<div ng-show="fourmCtrl.fourmTab=='allfourmsdiv'">
    

     <div ng-repeat="fourm in fourmCtrl.allFourms" >
         <div style="background-color: darkcyan;border-radius: 5px;padding:8px">
        <a href style="color:white;"> 
            <h4 ng-click="fourmCtrl.getFourm(fourm.fourmId)">{{fourm.fourmName}}</h4>
         
        </a>
     </div>
    <!-- comment-->
<br>
       </div>

</div>

<div ng-show="fourmCtrl.fourmTab=='forumdiv'">
    <button class="btn btn-info" ng-click="fourmCtrl.allFourmDiv()">All Fourms</button>
    <!-- commenting-->
   <h6>{{fourmCtrl.pfourm.fourmName}}</h6>
   <p>{{fourmCtrl.pfourm.formDesc}}</p>
    
     <div ng-show="fourmCtrl.post.permission">

     </div>
     <div ng-hide="fourmCtrl.post.permission">
         <button ng-click="fourmCtrl.requestPermission(fourmCtrl.currentUser.userId,fourm.pfourm.fourmId)">Get Permission</button>
     </div>


</div>
</div>