<div class="row">
    <div ng-repeat="user in frndCtrl.allUsers">
    {{user.friends}}
      
      <div ng-if="user.userName!='admin'">
    <div class="col-md-2">
    <div class="thumbnail">
      <a href="">
        <img src="" alt="Lights" style="width:10%">
        <div class="caption">
            <p>{{user.userName}}</p>
          <button ng-click="frndCtrl.addFriend(user.userId)" class="btn btn-primary">Add Friend</button>
        </div>
      </a>
    </div>
  </div>
      </div>
        </div>
    
</div>
</div>
