<div class='container-fluid' ng-controller="BlogController as blogCtrl">
  <div ng-hide="indiblog">
<button class="btn btn-info" ng-click="blogCtrl.button(true)" ng-hide="blogCtrl.newBlogdiv"> New Blog</button>
<button class="btn btn-info" ng-click="blogCtrl.button(false)" ng-show="blogCtrl.newBlogdiv"> All Blogs</button>
    <div class='row' ng-hide="blogCtrl.newBlogdiv">
        
         
       <div  dir-paginate="blog in blogCtrl.allBlogs|itemsPerPage:5|orderBy:'-blogId'">
          
           <div ng-hide="currentUser.role!='admin' && (blog.status=='pending' || blog.status=='decline')">
        <h2> <a href ng-click="blogCtrl.blogLink(blog.blogId)"> <b>  {{blog.blogTitle}}</b></a></h2>
         <h5> <a href ng-click="blogCtrl.blogAuthor(blog.blogId)">{{blog.signature}}</a></h5>
         <div ng-show="currentUser.role=='admin'">
          <a href ng-click="blogCtrl.decision('approved',blog.blogId)" class="btn btn-success" ng-show="blog.status=='pending'">Approve</a>
          <a href ng-click="blogCtrl.decision('decline',blog.blogId)" class="btn btn-danger" ng-show="blog.status=='pending'">Decline</a>
         </div>
           </div>
       </div>
         <dir-pagination-controls
    [max-size=""]
    [direction-links=""]
    [boundary-links=""]
    [on-page-change=""]
    [pagination-id=""]
    [template-url=""]
    [auto-hide=""]>
    </dir-pagination-controls>

    </div>
    <div class='row' ng-show="blogCtrl.newBlogdiv">
        <div class='col-sm-12'>
            <form novalidate class="form" name="BlogForm" ng-submit="blogCtrl.newBlog()">
                <div class="form-group">
                    <label for="blogTitle">Blog Title</label>
                    <input class="form-control" type="text" name='blogTitle' id='blogTitle' ng-model="blogCtrl.blog.blogTitle" required min="1" max="50">                                
               </div>
               <div class="form-group">
                   <label for="blogDescription"> Blog Description</label>
                   <textarea class="form-control" name='blogDescription' id='blogDescription' ng-model="blogCtrl.blog.blogDescription" required/>
               </div>
               <div class="form-group">
                   <label for="signature">Signature</label>
                   <input class="form-control" name='signature' id="signature" ng-model="blogCtrl.blog.signature" required/>
               </div>
               <input type="hidden" name="status" id="status" ng-model="blogCtrl.blog.status" value="pending" required/>
             <center>  <input type="submit" class="btn btn-info" value="Submit"></center>
            </form>
        </div>
    </div>
  </div>
    <div ng-show="indiblog" ng-if="blogCtrl.loaded">
                <div ng-include="'./app/pages/student/indivisualblog.html'"></div>
    </div>
</div>