<div ng-controller="FourmController as fourmCtrl">

<div ng-show="fourmCtrl.allFourmsDiv==true">
    <button class="btn btn-info" ng-click="fourmCtrl.newFourm()">New Fourm</button>

     <div ng-repeat="fourm in fourmCtrl.allFourms" >
         <div style="background-color: darkcyan;border-radius: 5px;padding:8px">
        <a href style="color:white;"> 
            <h4>{{fourm.fourmName}}</h4>
         <p>{{fourm.fourmDescription}}</p>
        </a>
     </div>
<br>
       </div>

</div>

<div ng-show="fourmCtrl.newFourmDiv==true">
    <button class="btn btn-info" ng-click="fourmCtrl.allFourmDiv()">All Fourms</button>

     <form novalidate ng-submit="fourmCtrl.postFourm()">
      
       <div class="form-group">
           <label>Forum Title</label>
           <input type="text" name="fourmTitle" ng-model="fourmCtrl.fourm.fourmName" class="form-control" >
       </div>
        <div class="form-group">
           <label>Post</label>
           <textarea name="fourmDescription" ng-model="fourmCtrl.fourm.fourmDescription" class="form-control" ></textarea>
               
       </div>
       <input type="submit" value="Submit" class="btn btn-primary">
           

     </form>

</div>
</div>

